@use './styles/fonts/font' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Custom;
  outline: none;
  border: transparent;
}

body {
  background-color: rgba(58, 58, 58, 1);
}

main {
  .container {
    width: 70%;
    margin: 5rem auto;

    .films {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;

      .film {
        background: RGBA(54, 24, 24, 1);
        background: linear-gradient(180deg, rgba(54, 24, 24, 1) 31%, rgba(205, 118, 118, 1) 75%);
        border-radius: 10px;
        padding: 3px;
        width: 372px;

        .base-border {
          background: RGBA(204, 180, 153, 1);
          background: linear-gradient(180deg, rgba(204, 180, 153, 1) 31%, rgba(67, 62, 56, 1) 75%);
          padding: 10px;
          border-radius: 8px;

          img {
            object-fit: cover;
            width: 18vw;
          }
        }
      }

      .closed {
        background: #c2b6b9;
        background: linear-gradient(180deg, rgba(194, 182, 185, 0.95) 34%, rgba(237, 83, 83, 1) 100%);
      }

      .checked {
        background: RGBA(36, 80, 37, 1);
        background: linear-gradient(180deg, rgba(36, 80, 37, 1) 31%, rgba(128, 205, 118, 1) 75%);
      }

      .no_review {
        background: RGBA(60, 60, 60, 1);
        background: linear-gradient(180deg, rgba(60, 60, 60, 1) 31%, rgba(208, 208, 208, 1) 75%);
      }
    }

    .film-info {
      display: none;
      color: white;
      animation: showDetalis 1s forwards ease-in-out;

      @keyframes showDetalis {
        0%{
          transform: translateY(-100px);
          opacity: .3;
        }
        100%{
          transform: translateY(0);
          opacity: 1;
        }
      }

      .border {
        background: RGBA(54, 24, 24, 1);
        background: linear-gradient(180deg, rgba(54, 24, 24, 1) 31%, rgba(205, 118, 118, 1) 75%);
        border-radius: 10px;
        padding: 3px;
        margin: auto;
        width: 100%;

        .base-border {
          width: 100%;

          .container {
            display: flex;
            flex-direction: row;
            background: RGBA(204, 180, 153, 1);
            background: linear-gradient(180deg, rgba(204, 180, 153, 1) 31%, rgba(67, 62, 56, 1) 75%);
            padding: 10px;
            border-radius: 8px;
            margin: 0;
            width: 100%;

            .film {
              width: 372px;

              img {
                object-fit: cover;
                width: 17vw;
              }
            }

            .content {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding: 20px;

              .title {
                height: 60%;

                p {
                  color: #000000;
                  font-style: italic;
                }
              }

              .borders {
                padding: 10px;
                height: 30%;
                border-top: 2px solid rgba(216, 255, 42, 0.4);
                border-bottom: 2px solid rgba(216, 255, 42, 0.4);

                .status {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  color: #000000;
                  height: 100%;
                  background-color: rgba(217, 217, 217, 1);
                  border-radius: 40px;
                  padding: 21px;

                  .review_status {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    .review_btn {
                      font-weight: 500;

                      &:hover {
                        border-bottom: 2px solid rgb(16, 25, 200);
                        cursor: pointer;
                      }
                    }
                  }

                  .ocena {
                    font-size: 24px;

                    &:hover {
                      cursor: pointer;
                    }
                  }

                  .rating_form {
                    display: none;

                    input::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }

                    input {
                      width: 200px;
                      padding: 10px 10px;
                      border-radius: 4px;
                    }
                  }
                }
              }

              .description {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 10%;

                .rating {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}


.pozucony {
  background: #c2b6b9;
  background: linear-gradient(180deg, rgba(194, 182, 185, 0.95) 34%, rgba(237, 83, 83, 1) 100%);
}

.obejzane {
  background: RGBA(36, 80, 37, 1);
  background: linear-gradient(180deg, rgba(36, 80, 37, 1) 31%, rgba(128, 205, 118, 1) 75%);
}

.no_review {
  background: RGBA(60, 60, 60, 1);
  background: linear-gradient(180deg, rgba(60, 60, 60, 1) 31%, rgba(208, 208, 208, 1) 75%);
}